@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

/* Reset CSS */
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.section:nth-child(odd) {
    flex: 1;
    background-image: url(background-img.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.bg-opaque {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10rem;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 8rem;
}

.logo-text {
    font-size: 7rem;
    color: #fff;
    font-family: norse-bold, sans-serif;
    margin: 0;
} 

.section:nth-child(even) {
    flex: 2;
    position: relative;
}

.form-header {
    margin: 5rem 4rem 3rem 4rem;
}

.form-container {
    background-color: lightgray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: absolute;
}

.form-title {
    margin: 1rem 4rem 1rem 4rem;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.label-container {
    display: flex;
    margin: 0 4rem;
    flex-direction: column;
}

label {
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

input[type="password"]:invalid {
    border: 1px solid #596D48;
}

.error {
    color: #596D48;
    font-size: 0.7rem;
    margin: 0;
}

.form-button {
    margin: 24rem 0 0 4rem;
}

button.form-button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #596D48;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

p.form-button {
    margin: 20px 4rem;
}

.login {
    text-decoration: none;
    color: #596D48;
}

/* Utils */
.break {
    height: 50px;
}

.font-bold {
    font-size: 0.9rem;
    font-weight: bold;
}