/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    /* height: 100%; */
}

/* body {

} */

.container {
    display: flex;
    height: 100vh;
}

.background-img {
    /* width: 50; */
    height: 100%;
    display: block; /* Remove extra space below image */
}